body {
  background-color: teal;
}

#submit {
  font-size: large;
  font-weight: bolder;
  text-shadow: black;
  color: yellow;
  width: 70%;
  padding-top: 15px;
  padding-bottom: 15px;
  border-style: outset;
  margin-top: 25px;
  margin-bottom: 43px;
}

#output {
  display: none;
  margin: 4px;
  border: 2px solid green;
  padding: 4px;
  background-color: orange;
}